/* AboutUs Page Styling */

/* Affects Whole Page*/
*{
    color: #efe9de;
  }

/** Main content **/

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: calc(100vh - 100px);
  background-color:#27445D;
  margin-left: 202px;
  margin-top: 0px;
  margin-right: 0px;
}

main {
  flex: 1;
  right: 0px;
  min-height: calc(100vh - 200px);
  margin-bottom: 2.5px;
  width: 100%;
  height: auto;
}

/** Header Text & Content **/

header {
  text-align: center;
  height: 90px;
}

h3 {
  bottom: 15px;
  position: relative;
}

#splitContainer {
  display: flex; 
}

#leftSide1, #rightSide1 , #middle1{
  flex: 1;
  padding: 0px;
  width: 48%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(76, 187, 152);
}

.photoBorder img {
  border-radius: 50%;
}

.photoBorder{
  background-color: #1b7062;
  font-weight: bold;
  font-size: min(2.5vh, 2.5vw);
  
}

.bio{
  overflow: auto;
  text-align: center;
  font-size: min(2.5vh, 2.5vw);
  height: 37vh;
  background-color: #1b7062;

}

.github{
  margin-top: 15px;
  overflow: auto;
  text-align: center;
  font-size: min(2.5vh, 2.5vw);
  height: 15vh;
  background-color: #1b7062;
}

.github a{
  font-weight: bold;
  color: black
}

.github a:hover{
  color: blue;
}






