/* aboutUs Styles */

/* Affects Whole Page*/
*{
    color: #efe9de;
  }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:#27445D;
  overflow: hidden;
}

main {
  flex: 1;
  overflow: hidden; 
}

/** header **/
header {
  text-align: center;
  transform: translateX(90px);
}

body.navbar-closed header {
  transform: translateX(0px);
}

