/* patientSearch&Modify Styles */

/* Affects Whole Page*/
* {
  color: #efe9de;
}

/** Main content **/

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  background-color:#27445D;
  margin-left: 202px;
  margin-top: 0px;
  margin-right: 0px;
}

main {
  flex: 1;
  right: 0px;
  min-height: calc(100vh - 200px);
  margin-bottom: 2.5px;
  width: 100%;
}

/** Header Text & Content **/

header {
  text-align: center;
  height: 90px;
}

#splitContainer {
  display: flex; 
  flex-direction: row; 
  border: white solid;
  min-height: calc(100vh - 195px);
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

#leftSide, #rightSide {
  flex: 1;
  padding: 20px;
  width: 48;
  flex-direction: column;
}

#leftSide {
  display: flex;
  align-items: flex-start;
  text-align: left;
  border: red solid;
}

#rightSide {
  display: flex;
  align-items: flex-start;
  text-align: left;
  border: blue solid;
}
/** Form content **/

#searchBar {
  width: 95%;
  margin-bottom: 20px;
  font-size: 15px;
  border: 2px solid black;
  color: black;
  background-color: white;
  display: flex;
  left: 15%;
}

table {
  color: #efe9de;
}

#patientTable {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

#patientTable th, #patientTable td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}

#patientTable td {
  background-color: white;
  color: black;
}

#patientTable tr:hover td:first-child {
  background-color: #71bbb2;
}

#patientTable th {
  text-align: center;
  background-color: #497d74;
}

#assignedDateTime {
  width: 30%;
}

input, #appointmentType, textarea {
  width: 50%;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  color: black;
}

textarea {
  height: 120px;
  resize: none;
}

#topTitle {
  margin: 0 0 10px 0;
}

button, #appointmentType {
  width: 52%;
  height: 25px;
}

button {
  background-color:#497d74;
  color:#efe9de;
}

#subSaveAlert {
  margin-bottom: 10px;
}

option {
  background-color: white;
  color: black
}

#appointmentType, #dateTime {
  color: #757575;
  background-color: white;
}

#creditCardHolder {
  text-transform: uppercase;
}

/* Custom Alert */

#alertMsgWarn, #alertMsgDelete {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #497d74;
  color: #efe9de;
  margin-bottom: 15px;
  z-index: 1000;
  display: none;
  width: 300px;
  border-style: solid;
  border-color:#71bbb2;
  height: 150px;
}

#cornerCloseWarn, #cornerCloseDelete {
  position: absolute;
  color: black;
  font-weight: bold;
  top: 2.5px;
  right: 7.5px;
  line-height: 20px;
  cursor: pointer;
}

#btnClose {
  transform: translateX(100%);
  background-color: #27445D;
  width: 30%;
  height: 30px;
  bottom: 25px;
  position: absolute;
}

#btnCloseYes, #btnCloseNo {
  position: absolute;
  background-color: #27445D;
  width: 30%;
  height: 30px;
  bottom: 25px;
}

#btnCloseYes {
  transform: translateX(25%);
}

#btnCloseNo {
  transform: translateX(175%);
}

#subInfo {
  text-align: center;
  position: relative;
}

#subInfoWarn {
  text-align: center;
  position: relative;
  bottom: 30px;
}

#alertTitle {
  position: relative;
  text-align: center;
  bottom: 15px;
}

#notifContain {
  position: relative;
  display: inline-block;  
  width: 100%;
}

#notifIcon {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#notifIconConflict {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#notifIconSelect {
  position: absolute;
  top: 3.5%;
  left: 48%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#notifMsg {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 55%;
  width: 47%;
  background-color: darkgoldenrod;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}

#notifIcon:hover + #notifMsg {
  visibility: visible;
}

#notifMsgConf {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 55%;
  width: 45%;
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}

#notifIcon:hover + #notifMsgConf {
  visibility: visible;
}

#notifIconConflict:hover + #notifMsgConf {
  visibility: visible;
}

#searchIcon {
  position: absolute;
  top: 12%;
  left: 92%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

#searchContain {
  position: relative;
  display: inline-block;  
  width: 80%;
}