:root{
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-2xl: 1.5rem;
  
    --line-height-xs: 1rem;
    --line-height-sm: 1.25rem;
    --line-height-md: 1.5rem;
    --line-height-lg: 1.75rem;
    --line-height-2xl: 2rem;
  
    --border-radius-md: 0.25rem;

    --duration-sm: 100ms;
    --duration-md: 300ms;
}