/* procedure Styles */

/* Affects Whole Page*/ 

*{
  color: #efe9de;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:#27445D;
  overflow: hidden;
}

main {
  flex: 1;
}

/** footer styles **/
footer {
  text-align: center;
  line-height: 0.2;
  border-top: solid;
  background-color:#71bbb2;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer > img {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 35px;
  bottom: 35px;
}

#Copyright {
  float: right;
  margin-right: 10px;
}