/* PatientForm Page Styling */

/** Affects Whole Page **/
* {
  color: #efe9de;
}

/** Main content **/

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  background-color:#27445D;
  overflow: hidden;
  margin-left: 202px;
  margin-top: 0px;
  margin-right: 0px;
}

main {
  flex: 1;
  right: 0px;
  overflow: hidden; 
  min-height: calc(100vh - 200px);
  margin-bottom: 2.5px;
  width: 100%;
}

/** Header Text & Content **/

header {
  text-align: center;
  height: 90px;
}

#splitContainer {
  display: flex; 
  flex-direction: row; 
  min-height: calc(100vh - 195px);
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#leftSide, #rightSide {
  flex: 1;
  padding: 20px;
  width: 48;
  flex-direction: column;
}

#leftSide {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

#rightSide {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

/** Form Styling **/

input, textarea  {
  width: 50%;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  color: black;
}

#appointmentType {
  width: 52%;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  color: black;
}

textarea {
  height: 120px;
  resize: none;
}

#topTitle {
  margin: 0 0 10px 0;
}

button {
  width: 52%;
  height: 25px;
}

button {
  background-color:#497d74;
  color:#efe9de;
}

option {
  background-color: white;
  color: black
}

#appointmentType, #dateTime {
  color: #757575;
  background-color: white;
}

#creditCardHolder {
  text-transform: uppercase;
}

#cvv {
  -webkit-text-security: disc;
}

/* Custom Alert */

#alertMsg {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #497d74;
  color: #efe9de;
  margin-bottom: 15px;
  z-index: 1000;
  display: none;
  width: 300px;
  border-style: solid;
  border-color:#71bbb2;
}

body.navbar-closed #alertMsg {
  align-items: center;
  top: 20px;
  left: 50%;
}

#cornerClose {
  position: absolute;
  color: black;
  font-weight: bold;
  top: 2.5px;
  right: 7.5px;
  line-height: 20px;
  cursor: pointer;
}

#btnClose {
  transform: translateX(120%);
  background-color: #27445D;
  width: 30%;
  height: 30px;
}

#subInfoName, #subInfoTime {
  font-size: 0.8em;
  transform: translateX(15%);
  bottom: 15px;
  position: relative;
}

#alertTitle {
  position: relative;
  transform: translateX(5%);
  bottom: 15px;
}

#notifContain {
  position: relative;
  display: inline-block;  
  width: 100%;
  min-width: 350px;
}

.notifIcon {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  z-index: 1000;
  display: none;
}

#notifIconClarification {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}


#notifIconConflict {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

#notifIconSelect {
  position: absolute;
  top: 3.5%;
  left: 46%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  z-index: 1000;
  display: none;
}

#notifMsg {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 55%;
  width: 45%;
  background-color: darkgoldenrod;
  color: white;
  padding: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  text-wrap: balance;
  top: 0px;
}

#notifIcon:hover + #notifMsg {
  visibility: visible;
}

@media (max-width: 1485px) {
  #notifMsg {
    padding-bottom: 40px;
  } 
}

#notifMsgConf {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 55%;
  width: 45%;
  background-color: orange;
  color: white;
  padding: 5px;
  padding-bottom: 75px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: left;
  top: 0px;
}

#notifIcon:hover + #notifMsgConf {
  visibility: visible;
}

#notifIconConflict:hover + #notifMsgConf {
  visibility: visible;
}

#notifIconClarification:hover + #notifMsg {
  visibility: visible;
}