/* patientForm Styles */

/* Affects Whole Page*/
*{
  color: #efe9de;
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
background-color:#27445D;
overflow: hidden;
}

main {
flex: 1;
overflow: hidden; 
}

/** header **/
header {
text-align: center;
transform: translateX(90px);
}

body.navbar-closed header {
transform: translateX(0px);
}

/* Main content */

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px
}

/** Form content **/

form {
  margin-top: -20px;
  transform: translateX(170px);
  width: 88%;
  display: flex;
  gap: 20px;
}

#leftSide, #rightSide {
  flex: 1;
  padding: 20px;
  /* border: 2px solid black; */
  min-height: 475px;
}

body.navbar-closed form {
  transform: translateX(0px);
  width: 100%;
}

input, #appointmentType, textarea {
  width: 50%;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  color: black;
}

textarea {
  height: 120px;
  resize: none;
}

#topTitle {
  margin: 0 0 10px 0;
}

button, #appointmentType {
  width: 52%;
  height: 25px;
}

button {
  background-color:#497d74;
  color:#efe9de;
}

option {
  background-color: white;
  color: black
}

#appointmentType, #dateTime {
  color: #757575;
  background-color: white;
}

#creditCardHolder {
  text-transform: uppercase;
}

#cvv {
  -webkit-text-security: disc;
}

/* Custom Alert */

#alertMsg {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #497d74;
  color: #efe9de;
  margin-bottom: 15px;
  z-index: 1000;
  display: none;
  width: 300px;
  border-style: solid;
  border-color:#71bbb2;
}

body.navbar-closed #alertMsg {
  align-items: center;
  top: 20px;
  left: 50%;
}

#cornerClose {
  position: absolute;
  color: black;
  font-weight: bold;
  top: 2.5px;
  right: 7.5px;
  line-height: 20px;
  cursor: pointer;
}

#btnClose {
  transform: translateX(120%);
  background-color: #27445D;
  width: 30%;
  height: 30px;
}

#subInfoName, #subInfoTime {
  font-size: 0.8em;
  transform: translateX(15%);
  bottom: 15px;
  position: relative;
}

#alertTitle {
  position: relative;
  transform: translateX(5%);
  bottom: 15px;
}

#notifContain {
  position: relative;
  display: inline-block;  
  width: 100%;
}

#notifIcon {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

#notifIconConflict {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

#notifIconSelect {
  position: absolute;
  top: 3.5%;
  left: 48%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

#notifMsg {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 55%;
  width: 45%;
  background-color: darkgoldenrod;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}

#notifIcon:hover + #notifMsg {
  visibility: visible;
}

#notifMsgConf {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 55%;
  width: 45%;
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}

#notifIcon:hover + #notifMsgConf {
  visibility: visible;
}

#notifIconConflict:hover + #notifMsgConf {
  visibility: visible;
}