/* procedure Styles */

/* Affects Whole Page*/
*{
  color: #efe9de;
}

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh-100px);
  background-color:#121212;
  overflow: hidden;
  margin-left: 202px;
  margin-top: 0px;
  margin-right: 0px;
}


main {
flex: 1;
right: 0px;
overflow: auto;
min-height: calc(100vh-200px);
margin-bottom: 2.5px;
width: 100%;
}

#splitContainer {
  display: flex; 
  flex-direction: row; 
  border: #444 solid;
  min-height: calc(100vh - 195px);
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#leftSide, #rightSide {
  flex: 1;
  padding: 20px;
  width: 48%;
  flex-direction: column;
}

#leftSide {
  display: flex;
  align-items: flex-start;
  text-align: left;
  border: #444 solid;
}

#rightSide {
  display: flex;
  align-items: flex-start;
  text-align: left;
  border: #444 solid;
}

body.navbar-closed main {
  margin-left: 0;
}

/** header **/
header {
text-align: center;
}

body.navbar-closed header {
transform: translateX(0px);
}

#services-currently-offered h2{
  margin-left: 2px;


}
#services-currently-offered ul {
  border-style: solid;
  border-width: 2px;
  list-style-type: none;
  padding-left: 0px;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  border-color: #444 ;
  background-color: #1e1e1e;
}

#services-currently-offered li{
  border-style: solid;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  border-width: 1px;
  border-color: #444 ;
  background-color: #222;
}

#services-currently-offered li:hover{
  background-color: #333;
}

#details-about-service h2 {
  margin-left: 2px;
}

#details-about-service {
  width: 1000px;
  max-width: 100%;
}
#details-about-service section{
  border-style: solid;
  border-width: 2px;
  text-align: left;
  height: 80%;
  width: 100%;
  overflow: auto;
  border-color: #444 ;
  background-color: #1e1e1e;
}
#additonal-info {
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  height: 120px;
  overflow: auto;
  border-color: #444 ;
  background-color: #1e1e1e;
}
.details-about-service-class{
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-size:  20px;
  padding-left: 5px;
  background-color: #333;
  border-color:  #444;
}
.details-about-service-span{
  padding-left: 5px;
}

